[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "MNLpred"]
	path = MNLpred
	url = https://github.com/manuelneumann/mnlpred
	shallow = true
	registered = true
